@import '../../../helpers/styles/colors';
@import '../../../helpers/styles/media-queries';

.card {
    background-color: $white;
    border: 1px solid $sky-blue;
    border-radius: 3px;
    margin: 50px 15px;
    color: $dark-blue;
    &__header {
        background-color: #daeefb;
        border-bottom: 1px solid $sky-blue;
        padding: 10px 10px 10px 90px;
        font-size: 14px;
        line-height: 1;
        position: relative;
        &__content {
            margin: 0;
        }
        @media (min-width: $x-mobile) {
            font-size: 16px;
            padding-right: 90px;
        }
    }
    &__icon {
        border: 3px solid $white;
        display: inline-block;
        padding: 10px;
        font-size: 24px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3), inset 0 0 3px 0 rgba(0, 0, 0, .2);
        border-radius: 10px;
        background: #f6fcfe;
        position: absolute;
        left: 15px;
        top: -10px;
        @include linear-lightBlue-white();
    }
    &__body {
        display: flex;
        padding: 20px;
        flex-flow: column;
        &__chart {
            width: 100%;
            @media (min-width: $mobile) {
                width: 70%;
            }
        }
        &__details {
            margin: 25px 0;
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center; 
            @media (min-width: $x-mobile) {
                flex-flow: row;
                align-items: initial;
            }
            @media (min-width: $mobile) {
                width: 30%;
                flex-flow: column
            }
        }
        @media (min-width: $mobile) {
            flex-flow: row;
        }
    }
    &__value {
        font-size: 36px;
        line-height: 1;
        margin: 0;
        text-align: right;
        &__label {
            font-size: 18px;
            color: #215e8a;
            margin: 10px 0 0;
        }
    }
}