// Colors variables
$white: #fff;
$dark-blue: #05415b;
$light-blue: #1cb8e4;
$ocean-blue: #067190;
$sky-blue: #80b3d5;

@mixin linear-lightBlue-white() {
    background: linear-gradient($white, #dcf0fb);
}

@mixin linear-lightBlue-blue() {
    background: linear-gradient($light-blue, $ocean-blue);
}

@mixin linear-blue-lightBlue() {
    background: linear-gradient($ocean-blue, $light-blue);
}