@import '../../../helpers/styles/colors';

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 4px solid $sky-blue;
    border-radius: 100%;
    border-top-color: $dark-blue;
    animation: rotateLoader 1s infinite;
    &__container {
        display: flex;
        justify-content: center;
        min-height: 100px;
        align-items: center;
        width: 100%;
        height: 100vh;
        &.app-load {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
        }
    }
}

@keyframes rotateLoader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}