@import '../../../helpers/styles/colors';

.card {
    &__button {
        &__container {
            text-align: right;
        }
        transition: transform .3s ease-out;
        padding: 10px 30px;
        @include linear-lightBlue-blue();
        display: inline-block;
        color: $white;
        text-decoration: none;
        border-radius: 10px;
        border: 3px solid $white;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .15);
        &:hover {
            transform: scale(0.98);
            @include linear-blue-lightBlue();
        }
    }
}